@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}

body {
	background: #f1fbff;
}

.section-padding {
	padding: 100px 0;
}

.carousel-item {
	height: 100vh;
	min-height: 300px;
}

.carousel-caption {
	bottom: 300px;
	z-index: 2;
}

.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}

.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.navbar .getstarted {
	background: #106eea;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}

.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}

.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light {
	color: #000;
}

.navbar-brand:hover {
	color: #44b4da !important;
}

.navbar-light .navbar-nav .nav-link {
	color: #000;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav {
	color: #000;
}

.w-100 {
	height: 100vh;
}

.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}

.portfolio .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}

.team .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}

.services .card-body i {
	font-size: 50px;
}

.team .card-body i {
	font-size: 20px;
}

@media only screen and (min-width: 768px) {
	.carousel-caption {
		bottom: 370px;
	}

	.card {
		margin-bottom: 30px;
	}

	.img-area img {
		width: 100%;
	}

}

@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}

	.carousel-caption {
		bottom: 125px;
	}

	.carousel-caption h5 {
		font-size: 17px;
	}

	.about-text {
		padding-top: 50px;
	}

	.card {
		margin-bottom: 30px;
	}

	.employee {
		width: 30vw !important;
		height: 30vh !important;
	}

	#iconArrow {
		transform: rotate(90deg);
		margin-top: 0vh !important;
	}

}

.nav-link:hover {
	color: #44b4da !important;
}

.img-inter {
	width: 500px;
	height: 300px;
}

.img-proj {
	width: 400px;
	height: 400px;
}

.btn {
	background-color: #44b4da !important;
}

.company-logo {
	margin-right: 0.4vw;
	margin-bottom: 0.2vw;
	width: 4vh;
	height: 3vh;
}

.employee {
	width: 15vw;
	height: 30vh;
}

.adv-text {
	font-size: 20px;
}

.hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}

.service:nth-child(1) {
	transition-delay: 100ms;
}

.service:nth-child(2) {
	transition-delay: 300ms;
}

.advantage:nth-child(1) {
	transition-delay: 100ms;
}

.advantage:nth-child(2) {
	transition-delay: 300ms;
}

.advantage:nth-child(3) {
	transition-delay: 500ms;
}

.result:nth-child(2) {
	transition-delay: 200ms;
}

.result:nth-child(3) {
	transition-delay: 400ms;
}

.project:nth-child(2) {
	transition-delay: 100ms;
}

.project:nth-child(3) {
	transition-delay: 300ms;
}

.project:nth-child(4) {
	transition-delay: 500ms;
}

.employee-wrap:nth-child(1) {
	transition-delay: 100ms;
}

.employee-wrap:nth-child(2) {
	transition-delay: 200ms;
}

.employee-wrap:nth-child(3) {
	transition-delay: 300ms;
}

.employee-wrap:nth-child(4) {
	transition-delay: 400ms;
}

.employee-wrap:nth-child(5) {
	transition-delay: 500ms;
}

.employee-wrap:nth-child(6) {
	transition-delay: 600ms;
}

.contact:nth-child(1) {
	transition-delay: 100ms;
}

.contact:nth-child(2) {
	transition-delay: 300ms;
}

.contact:nth-child(3) {
	transition-delay: 500ms;
}

.certs:nth-child(2) {
	transition-delay: 200ms;
}

#baseIcon {
	font-size: 50px;
}

#iconArrow {
	font-size: 50px;
	margin-top: 20vh;
}

.info-media {
	text-align: center;
}

.custom-media {
	padding: 10px 10px 10px 10px;
}

#preloader {
	background: white url(../img/spinner.gif) no-repeat center center;
	background-size: 8%;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
}